@page
@model FribergCarRazorPages.Pages.Admin.ConfirmedLoginAdminModel

@{
    ViewData["Title"] = "ConfirmedLoginAdmin";
}

<div class="bookingconfirmation">
    <br /><br />
    <h1 class="homeh1">LOGIN SUCCESSFULL</h1><br />
    <div>
        <button>
        <a asp-page="./IndexAdmin">Continue To Admin Home Page</a>
        </button><br /><br />
    </div>
</div>