@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h4 id="logo"><img src="~/pictures/fribergrentalnobg.png" width="250"></h4>
<div class="detailbg">
    <h3>
        Welcome to the perfect place to rent your luxury automobile.<br>
        Feel free to have a look at which cars are availible at the current time.<br>
    </h3>
</div>
<nav class="navbody">
    <ul>
        <li><a asp-area="" asp-page="/Home/List">Check Out Available Cars!</a></li>
        &nbsp;
        &nbsp;
        &nbsp;
    </ul>
</nav>