@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="detailbg">
    <h1 class="homeh1">Friberg Car Rental</h1>
    <p>
        Welcome to the perfect place to rent your luxury automobile.<br>
        Feel free to have a look at which cars are availible at the current time.<br>

        BUTTONS TO GO TO CARS AND AVAILIBLE CARS BELOW<br><br>
        ONE FOR AVAILIBLE CARS AND ONE FOR ALL CARS
    </p>
</div>
