@page
@model FribergCarRazorPages.Pages.Customer.ConfirmedBookingModel

@{
    ViewData["Title"] = "ConfirmedBooking";
}

<div class="bookingconfirmation">
    <br /><br /><br /><br />
    <h1 class="homeh1">BOOKING CONFIRMED</h1>
    <h2 class="homeh1">Check "My Bookings" for more information</h2>
    <div>
        <button>
            <a asp-page="./IndexCustomer">Continue To Customer Home Page</a>
        </button><br /><br />
    </div>
</div>
