@page
@model FribergCarRazorPages.Pages.Customer.ConfirmedLoginModel

@{
    ViewData["Title"] = "ConfirmedLogin";
}

<div class="bookingconfirmation">
    <br /><br /><br /><br /><br /><br />
    <h1 class="homeh1">LOGIN SUCCESSFULL</h1><br />
    <div>
        <button>
            <a asp-page="./IndexCustomer">Continue To Customer Home Page</a>
        </button><br /><br />
    </div>
</div>
