@page
@model FribergCarRazorPages.Pages.Customer.ConfirmedNewCustomerModel

@{
    ViewData["Title"] = "ConfirmedNewCustomer";
}

<div class="bookingconfirmation">
    <br /><br /><br /><br /><br /><br />
    <h1 class="homeh1">REGISTRATION COMPLETED WELCOME!</h1><br />
    <div>
        <button>
            <a asp-page="./Index">Continue To Log In Page</a>
        </button><br /><br />
    </div>
</div>
