@page
@model FibergCarRazorPages.Pages.Customer.CreateBookingModel

@{
    ViewData["Title"] = "CreateBooking";
}
<br />
<form asp-action="CreateBooking">
    <table class="table">
        <th class="bookingheader">Fill out the information required to book a car.</th>
        <tbody>
            <tr>
                       @*  Dropdown lista flr att välja kund *@
                @*   <td>
                     <label>Choose Desired Customer:</label>
                    <br />
                    <select asp-for="Booking.Customer.CustomerId" asp-items="Model.Customers">
                        Choose Customer:
                        <option>Please choose one</option>
                    </select>                  
                </td>  *@
                <td>
                    <label>Choose Desired Car:</label><br />
                    <select asp-for="Booking.Car.CarId" asp-items="Model.Cars">
                        Choose Customer:
                        <br />
                        <option>Please choose one</option>
                    </select>
                </td>
                <td>
                    <label>Choose Pickup Date:</label>
                    <input type="date" asp-for="Booking.StartDate" />
                    <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="Booking.EndDate">Choose Return Date:</label>
                    <input type="date" asp-for="Booking.EndDate" />
                    <span asp-validation-for="Booking.EndDate"></span>
                </td>
                <td>
                    <input type="submit" value="Make Booking" />                                 
                </td>
            </tr>

        </tbody>
    </table>
</form>
<br />
<button>
    <a asp-page="/Home/List">Back</a>
</button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
